@use './base/reset';
@use './fonts';

body {
  font-family: 'Noto Sans KR', sans-serif;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
